* {
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #ddd;
}

main {
  max-width: 360px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  color: #777;
}

form div.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px
}

/*to fix the problem that i have, descreption take a space ex: 100% 
while classname basic that has two element take only 95% so to make 
this two element have 100% A+B I will add something in top to 
make program understand how to calculate it   {
  box-sizing: border-box;
}*/